$nav-color: #00577e;

#wrapper {
  display: flex;
  
  nav {
    display: flex;
    flex-direction: column;
    width: 25%;
    
    background-color: $nav-color;
    color: white;
    
    > h1 {
      padding: .5rem;
      
      text-align: center;
      font-weight: 800;
      font-size: 1rem;
      
      background-color: rgba(255, 255, 255, .1);
      
      border-bottom: 1px solid rgba(0, 0, 0, .25);
      
      text-shadow: 2px 2px 0 rgba(0, 0, 0, .25);
    }
    
    > button {
      transition: all .15s ease-out;
      cursor: pointer;
      padding: .5rem;
      font-size: 11px;
      font-weight: bold;
      
      background-color: transparent;
      color: inherit;
      
      outline: none;
      border: none;
      
      &:hover {
        background-color: white;
        color: $nav-color;
      }
      
      &.active {
        background-color: rgba(0, 0, 0, .5);
        color: white;
        
        &:before {
          content: "> ";
        }
        
        &:after {
          content: " <";
        }
      }
    }
  }
  
  main {
    display: block;
    flex: 1;
    overflow-y: auto;
    
    padding: .5rem;
    
    input, button {
      padding: .5rem;
      background: rgba(255, 255, 255, .5);
      color: rgba(0, 0, 0, .6);
      font-family: inherit;
      font-weight: bold;
      border: 2px solid rgba(0, 0, 0, .1);
      outline: none;
      border-radius: 3px;
    }
    
    input {
      width: 100%;
    }
    
    h1 {
      font-size: 1.2rem;
      color: white;
      padding: .5rem;
    }
    
    > div {
      position: relative;
      width: 100%;
      height: 100%;
      padding: .5rem;
      
      border: 2px solid white;
      border-radius: 9px;
      
      > button.submit {
        position: absolute;
        bottom: .5rem;
        right: .5rem;
        
        background: #75f575;
      }
    }
  }
}