@font-face {
  font-family: "Ubuntu";
  src: url(fonts/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: "Ubuntu";
  src: url(fonts/Ubuntu-Light.ttf);
  font-weight: 300;
}


@font-face {
  font-family: "Ubuntu";
  src: url(fonts/Ubuntu-Bold.ttf);
  font-weight: bolder;
}

@font-face {
  font-family: "Ubuntu";
  src: url(fonts/Ubuntu-Medium.ttf);
  font-weight: bold;
}
