@import "vars";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: $primary-color;
}

#app {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    @import "titlebar";

    > .container {
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex: 1;
        @import "sidebar";
        @import "view";
    }
    @import "debug";
}
